
#title {
  text-align: center;
  align-items: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.LandingPage {
  text-align: center;
}

.loginPage {
  text-align: center;
}


.formSubmission {
text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.navbar {
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(122, 190, 164);
}

.navbar-button {
  display: flex;
  padding: 5px;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  margin-right: 50px;
}

.post-card{
  background-color: rgb(215, 225, 234);
  display: block;
  align-items: center;
}
.buttons {
text-align: center;
}

.content {
  text-align: center;
}

.delete {
  text-align: center;
}

#deleteButton {
 align-items: center;
 text-align: center;
}

.post-desc{
display: block;
margin-left: auto;
margin-right: auto;
}

.navbar2{
  background-color: rgb(122, 190, 164)
}

#deleteButton{
  display: block;
  text-align: center;
  align-items: center;
  /* position: absolute; */
  
}